body, #header, #name, #userAge, #gender, #submitButton {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_1280.jpg);
}

#header {
  text-align: center;
  padding-top: 1.5em;
}

#content {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgba(255,255,255,0.8);
}

form {
  padding: 3em;
}


#submitButton {
  margin-top: 1em;
}

.hideStart {
  display: none;
}

#results {
  margin-top: 1em;
  margin-bottom: 1em;
}

.results-text {
  font-size: 1.25em;
}