body, #header, #name, #userAge, #gender, #submitButton {
  font-family: 'Quicksand', sans-serif;
}

#header {
  text-align: center;
  padding-top: 1.5em;
}

#content {
  margin-top: 10%;
}


form {
  padding: 3em;
}

#submitButton {
  margin-top: 1em;
}