body, #header, #name, #userAge, #gender, #submitButton {
  font-family: 'Quicksand', sans-serif;
}

#header {
  text-align: center;
}

/* 
font-family: 'Quicksand', sans-serif;
font-family: 'Lora', serif; */


form {
  padding: 3em;
}

#submitButton {
  margin-top: 1em;
}